<!doctype html>
<html>
<head>
<title>StemWebsite</title>
<style>

body{background-image: url("imageFiles/indexBackground");}
</style>
</head>
<body>


<a href="/login">School Login</a><br>
<a href="/loginHome">Home Login</a><br>



</body>
</html>
