<!doctype html>
<html>
<head><title>Stem Website</title></head>
<body>


<div id="formContainer">
<form action="/report" method="post" id="reportForm">
        <button type="submit">Submit</button>
</form>

<textarea rows="4" cols="50" name="message1" form="reportForm">
How is today going?(optional</textarea>
<div>
<textarea rows="4" cols="50" name="message2" form="reportForm">Did you notice anything happen today that others did not?(optional</textarea>
<div>
<textarea rows="4" cols="50" name="message3" form="reportForm">Tell us your feelings(optional)</textarea>
<div>



</body>
</html>